/* Adicione essas regras CSS ao seu arquivo galeria.css */
body, button, a {
    font-family: 'Itim', cursive !important;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4a9ae9;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
  }
  
  /* ... (seu código existente para header) ... */
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    background-size: cover;
    align-items: center;
    background-image: url('img/alunos-sabendo-a-resposta-certa.jpg');
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
  }
  
  h1 {
    color: #4a9ae9; /* Cor azul desejada */
    font-size: 2em; /* Tamanho da fonte desejado */
    text-align: center;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
  }
  
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .photo-item {
    width: 45%;
    margin: 10px;
    text-align: center;
  }
  
  .photo-item img {
    width: 100%;
    height: auto;
    border: 8px solid #4a9ae9;
    border-radius: 6px;
  }
  
  .caption {
    margin-top: 5px;
    font-size: 25px;
    color: #4a9ae9;
  }
  
  /* ... (seu código existente para footer) ... */
  